* {
  /*
  Para restaurar los estilos por defecto del navegador
  */
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: "Roboto", sans-serif;
}

body main {
  background-image: url("../img/windows_xp_bliss-wide.webp");
  overflow: hidden;
  position: sticky;
  background-repeat: no-repeat;
  background-size: cover;
}

body main h1 {
  color: white;
  font-weight: 400;
  font-size: 25px;
  background-color: #1783b3;
  border-radius: 10px;
  padding: 15px;
  display: block;
  margin: 0 auto;
  text-align: center;
  width: 15%;
  margin-top: 50px;
}

body main #kanban {
  width: 100%;
}

body main #kanban .column {
  padding: 10px;
  width: 18%;
  float: left;
  background-color: #ffffffaa;
  border-radius: 1em;
  overflow: hidden;
  margin-top: 30px;
  margin-left: 25px;
}

body main #kanban .column h2 {
  padding-bottom: 20px;
}

body main #kanban .column .card {
  background-color: white;
  border: solid 1px black;
  border-radius: 10px;
  margin-bottom: 15px;
  padding: 50px;
}

body main #kanban .column .card p {
  padding-top: 35px;
}

body main #kanban .column .card:hover {
  background-color: #1783b3;
  cursor: pointer;
  color: white;
}

body main div .tag.front,
body main .tag.back,
body main .tag.device {
  float: left;
  display: inline;
}

body main div .tag.front {
  background-color: green;
  width: 20px;
  height: 20px;
  border-radius: 50%;
  text-align: center;
}

body main div .tag.back {
  background-color: red;
  width: 20px;
  height: 20px;
  border-radius: 50%;
  text-align: center;
}

body main div .tag.device {
  background-color: yellow;
  width: 20px;
  height: 20px;
  border-radius: 50%;
  text-align: center;
}
